
<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">We design, develop, host and manage responsive and adaptive websites and web applications based on the latest technology. Our development tools also allow a mobile website to be wrapped as an app for the major smartphone OS platforms.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web and Mobile App Development</h4>
                <p class="text-muted">Build an experience that will impress on all devices.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Automated Deployment and Web Security</h4>
                <p class="text-muted">Automation and a fast experience, SSL is mandatory and we automatically redirect HTTP to HTTPS via Amazon Web Services.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Graphics and Logo Design</h4>
                <p class="text-muted">Logo, App Mock-ups, Brand identity and other related design services.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-newspaper-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Content and Creative Writing</h4>
                <p class="text-muted">Get creative, research, summaries & editorial work from our team.</p>
            </div>
        </div>
    </div>
</section>